<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Tareas</h1>
            <p class="subtitle">Subtítulo</p>
            <div class="button-container">
                <button id="btnAgregarTarea"> Añadir tarea + </button>
                <button id="btnBorrarTarea">Borrar tarea x</button>
            </div>
            <p id="points" style="margin-top: 10px;">Puntos: 0</p>
        </div>
        <div class="tab-menu">
            <button class="tab active" id="doneTab">✔ Hechas</button>
            <button class="tab" id="toDoTab">Por hacer</button>
        </div>
        <div class="contenedor-tareas">
            <h2>Por hacer</h2>
            <div id="tareasPorHacer" class="seccion-tareas">
                
            </div>
        </div>

        <div class="contenedor-tareas">
            <h2>Hechas</h2>
            <div id="tareasHechas" class="seccion-tareas">

            </div>
        </div>
    <!--<div class="contenedorTarea" id="taskList">
        <ul>
            <li th:each="tarea : ${tareas}">
                <p th:text="${tarea.titulo}"></p>
                <p th:text="${tarea.descripcion}"></p>
                <button>Marcar como realizada</button>
            </li>
        </ul>

       </div>
       -->  
        <button class="view-more">Ver más</button>
        <div class="footer">
            <button onclick="location.href='index.html'">Inicio</button>
            <button>Historial</button>
            <button onclick="location.href='recompensas.html'">Recompensas</button>
        </div>
    </div>

    <script src="/scripts/app.js"> </script>
</body>
</html>